@font-face {
    font-family: "Gotham Bold";
    src: url("/assets/fonts/GothamBold.ttf");
}
@font-face {
    font-family: "Gotham Light";
    src: url("/assets/fonts/GothamLight.ttf");
}
@font-face {
    font-family: "Helvetica Bold";
    src: url("/assets/fonts/Helvetica-Bold.ttf");
}
@font-face {
    font-family: "Helvetica 25 UltraLight";
    src: url("/assets/fonts/Helvetica25UltraLight.ttf");
}
@font-face {
    font-family: "Helvetica Now Display X Black";
    src: url("/assets/fonts/HelveticaNowDisplayXBlk.otf");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("/assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("/assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Nexa Bold";
    src: url("/assets/fonts/NexaBold.otf");
}
@font-face {
    font-family: "Nexa Light";
    src: url("/assets/fonts/NexaLight.otf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("/assets/fonts/Poppins-Bold.otf");
}
@font-face {
    font-family: "Poppins Light";
    src: url("/assets/fonts/Poppins-Light.otf");
}
@font-face {
    font-family: "W Foundry - Joane Regular";
    src: url("/assets/fonts/W Foundry - Joane Regular.otf");
}