@font-face {
  font-family: "Gotham Bold";
  src: url("/assets/fonts/GothamBold.ttf");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/assets/fonts/GothamLight.ttf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("/assets/fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica 25 UltraLight";
  src: url("/assets/fonts/Helvetica25UltraLight.ttf");
}

@font-face {
  font-family: "Helvetica Now Display X Black";
  src: url("/assets/fonts/HelveticaNowDisplayXBlk.otf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Nexa Bold";
  src: url("/assets/fonts/NexaBold.otf");
}

@font-face {
  font-family: "Nexa Light";
  src: url("/assets/fonts/NexaLight.otf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/assets/fonts/Poppins-Bold.otf");
}

@font-face {
  font-family: "Poppins Light";
  src: url("/assets/fonts/Poppins-Light.otf");
}

@font-face {
  font-family: "W Foundry - Joane Regular";
  src: url("/assets/fonts/W Foundry - Joane Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: relative;
}

footer .foo-content {
  width: 80%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .foo-content .main-wrap {
  width: 50%;
}

footer .foo-content .main-wrap .subs .title h1 {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Helvetica 25 UltraLight";
  letter-spacing: 0.2rem;
}

footer .foo-content .main-wrap .subs .title h1 span {
  font-family: "Poppins Bold";
  font-size: 3rem;
}

footer .foo-content .main-wrap .subs .subs-form {
  padding: 20px 0;
}

footer .foo-content .main-wrap .subs .subs-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
}

footer .foo-content .main-wrap .subs .subs-form form input {
  background: none;
  border: none;
  outline: none;
  border: 1px solid white;
}

footer .foo-content .main-wrap .subs .subs-form form input[type="email"] {
  padding: 5px 20px;
  width: 400px;
  color: white;
  font-family: "Poppins Light";
}

footer .foo-content .main-wrap .subs .subs-form form button {
  height: 100%;
  background: none;
  margin-left: 5px;
  border: none;
  outline: none;
  width: 100px;
  cursor: pointer;
  background-color: #181818;
  border-left: 1px solid white;
}

footer .foo-content .main-wrap .subs .subs-form form button img {
  height: 100%;
  width: auto;
  padding: 10px;
}

footer .foo-content .main-wrap .subs .subs-form form button:hover {
  background-color: black;
}

footer .foo-content .main-wrap .subs .subs-form form button:active {
  background-color: black;
}

footer .foo-content .main-wrap .links span {
  color: white;
}

footer .foo-content .main-wrap .links span a {
  color: white;
  text-decoration: none;
}

footer .foo-content .main-wrap .links span a:hover {
  color: #6D9587;
}

footer .foo-content .main-wrap .links span:not(:last-child)::after {
  content: " | ";
  padding: 0 5px;
}

footer .foo-content .socials {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foo-content .socials .links-wrap {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .foo-content .socials .links-wrap .link {
  width: 100%;
  height: auto;
  text-align: center;
}

footer .foo-content .socials .links-wrap .link a img {
  width: auto;
  height: 60px;
  padding: 15px;
}

footer .foo-content .f-logo {
  position: absolute;
  bottom: 0;
  left: 1%;
  height: 90%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .foo-content .f-logo img {
  height: 100%;
  width: auto;
}

.fashiontv section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.fashiontv section.intro {
  height: inherit;
  width: 100%;
}

.fashiontv section.intro .wrap {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.fashiontv section.intro .wrap img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fashiontv section.intro .wrap .video-title {
  position: absolute;
  bottom: 10vh;
  left: 10%;
}

.fashiontv section.intro .wrap .video-title h1 {
  font-family: "Montserrat Bold";
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}

.fashiontv section.intro .patch {
  height: 200vh;
  width: 300px;
  position: absolute;
  right: 10%;
  top: 0;
}

.fashiontv section.intro .patch.overlay {
  z-index: 1;
  mix-blend-mode: overlay;
}

.fashiontv section.intro .patch.fixed {
  z-index: -1;
  mix-blend-mode: normal;
}

.fashiontv section.intro .patch.yellow {
  background-color: #C7BA1D;
}

.fashiontv section.title {
  height: inherit;
  width: 100%;
}

.fashiontv section.title .content-wrap {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fashiontv section.title .content-wrap .media-content {
  height: inherit;
  width: 60%;
}

.fashiontv section.title .content-wrap .media-content .wrap {
  height: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.fashiontv section.title .content-wrap .media-content .wrap img {
  height: 100%;
  max-width: auto;
  position: relative;
}

.fashiontv section.title .content-wrap .text-content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fashiontv section.title .content-wrap .text-content .wrap .heading h1 {
  font-size: rem;
  text-transform: unset;
  font-family: "Helvetica Bold";
}

.fashiontv section.title .content-wrap .text-content .wrap .sub h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat Bold";
  letter-spacing: 0.3rem;
  color: #6D9587;
}

.fashiontv section.introduction {
  height: inherit;
  width: 100%;
  top: 0;
  z-index: 0;
}

.fashiontv section.introduction .content-wrap {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fashiontv section.introduction .content-wrap .media-content {
  height: inherit;
  width: 70%;
  background-blend-mode: overlay;
}

.fashiontv section.introduction .content-wrap .media-content .wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.fashiontv section.introduction .content-wrap .media-content .wrap img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: auto;
  height: 100%;
}

.fashiontv section.introduction .content-wrap .media-content .wrap .video-title {
  position: absolute;
  bottom: 10vh;
  left: 10%;
}

.fashiontv section.introduction .content-wrap .media-content .wrap .video-title h1 {
  font-family: "Montserrat Bold";
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}

.fashiontv section.introduction .content-wrap .text-content {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fashiontv section.introduction .content-wrap .text-content .wrap {
  padding: 0 10%;
}

.fashiontv section.introduction .content-wrap .text-content .wrap .heading h1 {
  font-size: 4rem;
  text-transform: unset;
  font-family: "Helvetica Bold";
}

.fashiontv section.introduction .content-wrap .text-content .wrap .desc p {
  text-transform: uppercase;
  font-family: "Montserrat Bold";
  letter-spacing: 0.1rem;
  color: #535353;
}

.fashiontv section.introduction .content-wrap .patch {
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: -2;
  right: 10%;
  top: 0;
}

.fashiontv section.introduction .content-wrap .patch.grey {
  background-color: #DDDDDD;
}

.fashiontv section.key-facts {
  background-color: #DDDDDD;
  width: 100%;
  position: relative;
}

.fashiontv section.key-facts .content-wrap .title {
  padding: 20px;
}

.fashiontv section.key-facts .content-wrap .title h1 {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: unset;
  color: transparent;
  -webkit-text-stroke: 1px #C77E73;
  font-family: "Helvetica Bold";
  font-size: 12rem;
}

.fashiontv section.key-facts .content-wrap .title h2 {
  font-family: "W Foundry - Joane Regular";
  font-size: 8rem;
  text-transform: unset;
}

.fashiontv section.key-facts .content-wrap .tab-pane {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap {
  width: 80%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-content {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-content .media-cpntent {
  width: 50%;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-content .text-content {
  width: 50%;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-nav {
  width: 20%;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-nav ul {
  width: 100%;
  list-style: none;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-nav ul li {
  font-family: "W Foundry - Joane Regular";
  font-size: 1.2rem;
  text-transform: unset;
  display: block;
  padding: 10px;
  cursor: pointer;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-nav ul li:hover {
  background-color: #c2c2c2;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-nav ul li.active {
  background-color: #c2c2c2;
}

.fashiontv section.key-facts .content-wrap .tab-pane .wrap .tab-nav ul li a {
  width: 100%;
  height: auto;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1300px) {
  .fashiontv section.introduction .content-wrap .text-content .wrap .heading {
    font-size: 3rem;
  }
}
